logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Android
android/.kotlin/
.gradle/
**/build/
*.hprof
android/local.properties
android/signing.properties
android/release.keystore
android/releases/
android/captures/
.externalNativeBuild
.cxx
android/gradle/
android/gradlew
android/gradlew.bat
!android/gradle/
!android/gradle/wrapper/
!android/gradle/wrapper/**
!android/gradlew
!android/gradlew.bat
